# SPDX-FileCopyrightText: Copyright (c) <2025> NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

setuptools==80.9.0
pytest==9.0.1
pytest-benchmark==5.1.0
pytest-cov==6.2.1
pytest-env==1.2.0
flake8==7.3.0
pytest-cov==6.2.1
reuse==5.1.0

numba-cuda[cu13]==0.20.0
cupy-cuda13x==13.6.0

--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.10.0
